:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-bonito: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-caligrafia:'Calligraffitti', 'cursive';
    --fonte-link: 'Allerta', sans-serif;
    --fonte-alternativa: 'DM Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.plano-de-fundo {
    background: linear-gradient(black 60%, var(--cor-de-fundo))
}

.corpo__principal {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.principal {
    background-image: url(img/os_sonhos.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    position: relative;
}

.principal::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(transparent, black); */
    /* background: linear-gradient(transparent 50%, black); */
    /* background: linear-gradient(transparent 60%, black); */
    background: linear-gradient(transparent 70%, black);
    /* background: linear-gradient(transparent 80%, black); */
    position: absolute;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__parafrase {
    font-weight: 700;
    font-size: 42px;
    color: black;
    position: relative;
    bottom: 1em;
    right: 1em;
    font-family: var(--fonte-caligrafia);
    text-decoration: underline;
}

.container__titulo {
    font-weight: 600;
    font-size: 25px;
    color: black;
    font-family: var(--fonte-principal);
    /* text-decoration: underline;
    text-transform: uppercase; */
    padding: 0.5em;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 1em;
    
}

.marshall {
    text-shadow: 2px 2px 3px black;
    font-weight: 700;
    font-size: 28px;
}

.barba {
    text-shadow: 2px 1px #640064cb;
    /* text-decoration:underline; */
    font-weight: 700;
    font-size: 28px;
}

.container__botao {
    background:  #0495b5;
    padding: 1em;
    border: 3px solid black;
    border-radius: 6px;
    display: block;
    color: black;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 510;
    transition: 0.5s all;
}

.container__botao:hover {
    transform: scale(1.05);
    background-color: black;
    color: #800080;
    border-color: #800080;
}

.botao_secundario {
    background-color: #A8DAE5;
}

.container__aviso {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-align: start;
}

.container__imagem {
    margin: 0em 0 0em 0;
    width: 350px;
    border-radius: 3px solid transparent;
}

.container__caixa {
    margin: 0 6em;
    position: relative;
}

.secundario {
    align-items: center;
    height: 90vh;
}

.conteudo__secundario {
    margin: 0 7em;
    /* border: 2px solid white; */
    padding: 1em;
    border-radius: 5px;
}

.secundario__imagem {
    border: 5px solid transparent;
    border-radius: 10px;
    margin: 0 0 0 5em;
    height: 340px;
}

.titulo-secundario {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 48px;
}

.descricao__frase {
 color: var(--cinza-secundario);
 padding-bottom: 1em;
}

.imagem__terciaria {
    margin: 0 1em 0 0;
}

.botao__terciario {
    display: inline-block;
}

.container_triplo {
    height: 100vh;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 1
}

.imagem__cartaz {
    height: 450px;
    margin: 0 0 0 6em;
}

.titulo-terciario {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 40px;
}

.coloracao {
    color: #800080;
}

.coloracao_2 {
    color: #A8DAE5;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 3em 0 5em;
}

.lista__item {
    font-weight: 700;
    font-size: 32px;
}

.dispositivos__lista li {
    margin: 0 1.5em;
}

.rodape {
    text-align: center;
    background-color: #00010A;
}

.logo__rodape {
    height: 75px;
    margin: 2em 0;
}

.link_lista-completa {
    display: flex;
    justify-content: center;
    
}

.link__lista a {
  margin: 1em 0.5em;
  font-size: 16px;
  font-weight: 400;
  color: var(--branco-principal);
  transition: 350ms;
}

.link__lista a:hover {
    color:  #A8DAE5;
}

.link__lista a:active {
    color: #800080;
}

.frase__rodape {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
    margin: 2em 10em;
}












/* pagina 2 */

.titulo__principal {
    text-transform: uppercase;
    font-weight: bold;
}


.corpo__secundario {
   font-size: 17px;
   font-weight: 600;
   /* color: rgb(144, 144, 144); */
   color: var(--branco-principal);
   background-color: #1b2b2b;
   font-family: var(--fonte-alternativa);
}


.container_2 {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}


.cabecalho {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-image: url(img/chii.jpg);
    background-size: cover;
    background-position: bottom;
}


.container-cabecalho {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
}


.imagem__cabecalho {
    width: 300px;
}


.lista__links {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 1em 0;
    font-family: var(--fonte-link);
    background-color: #00010A;
    font-size: 16px;
    font-weight: 400;
}


.container__principal {
    padding: 3em 0;
    height: 75vh;
}


.introdução {
    background-image: url(img/kuma-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    align-items: center;
}


.introdução::before {
    content:"";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  linear-gradient(transparent 75%, black) , linear-gradient(90deg, #00010A, black 63%, transparent 80%);
    /* background:  linear-gradient(transparent 70%, black), linear-gradient(90deg, black 5%, lightgray 63%, transparent 75%); */
    opacity: 1;
    position: absolute;
}


.box_inicial {
    margin: 0 auto 0 50px;
    position: relative;
    background-image: url(img/background_section.jfif);
}


.text__box {
    border: 6px solid black;
    border-radius: 10px;
    line-height: 1.6em;
    padding: 1em;
    width: 850px;
}


.text__box p {
    color: white;
    position: relative;
}


.text__box::before {
    content:"";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: #1b2b2b; */
    background: black;
    opacity: 0.45;
    position: absolute;
}


.chapeu {
    display: inline;
    position: absolute;
    transform: rotate(10deg);
    right: -105px;
    top: -120px;
}


.mihalk {
    display: inline;
    position: absolute;
    height: 30vh;
    left: -45px;
    top: -130px;
}


.second__container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: 
        linear-gradient(360deg, black, transparent 20%),
        linear-gradient(black, transparent 15%),
        url(img/back-areia.jpg);
}

.complete_box {

}

.title__box {
    color: black;
    margin-bottom: 0.3em;
    font-weight: 900;
    text-shadow: 3px 2px saddlebrown;
}

.second__box {
    background-image: url(img/crocoboy_banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-shadow: 2px 2px rgb(155, 76, 20); 
}

.fixed-right {
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fixed-left {
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
}
